/* main */
h1{
    font-size: 1.1em;
    font-weight: bold;
    background-color: #3F729B;
    padding: 10px 6px;
    color: white;
    text-align: center;
    border-radius: 5px 5px 0 0 ;
}

.waves-input-wrapper{
    display: block !important;
}

#file{
    padding: 8px 6px;
    width: 98%;
    border-radius: 5px;
}

#upload{
    position: absolute;
    bottom: 15px;
    right: 30px;
    color: #E0E0E0;
}
button{
    border-radius: 5px;
}

button:hover{
    background-color: #3F729B;
    color: #E0E0E0;
}

.btn {
    margin: 0 !important;
}

.btnClick{
    background-color: #3F729B;
    color: #E0E0E0;
    box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,43,113,0.19);
}

#preparDoc {
    display: block;
    background-color: #3F729B !important;
    color: white;
    width: 100%;
    padding: 8px 0;
    border-radius: 5px;
}
#preparDoc:hover{
    color: #3F729B;
    background-color: #E0E0E0 !important;
    border: 4px solid #00C851;
}

#sentDoc{
    display: block;
    background-color: #00C851 !important;
    color: white;
    width: 100%;
    padding: 8px 0;
    border-radius: 5px;
}

#sentDoc:hover{
    color: #00C851;
    background-color: #E0E0E0 !important;
    border: 4px solid #00C851;
}

/*Modal*/

#dismiss{
    background-color: #ff3547 !important;
    width: 20%;
    color: white;
    border-radius: 7px;
    font-weight: bold;
    text-transform: uppercase;
    border: 4px solid #ff3547
}

#dismiss:hover{
    background-color: white !important;
    border: 4px solid #45B600;
    border-radius: 7px;
    color: #ff3547;
    font-weight: bold;
    text-transform: uppercase;
}
#continued{
    background-color: #4285F4 !important;
    width: 20%;
    color: white;
    border-radius: 7px;
    font-weight: bold;
    text-transform: uppercase;
    border: 4px solid #4285F4
}

#continued:hover{
    background-color: white !important;
    border: 4px solid #45B600;
    border-radius: 7px;
    color: #4285F4;
    font-weight: bold;
    text-transform: uppercase;
}


/*Modal*/

@media screen and (min-height: 768px) {
    #meOthers{
        border-bottom-left-radius: 7px;
        border-top-left-radius: 7px;
    }
    #others{
        border-bottom-right-radius: 7px;
        border-top-right-radius: 7px;

    }
}
