body{
    height: 100vh;
}

.jumbotron{
    background-color: #4C4C4C;
    color: white;
}

.btn{
    padding: 12px;
    border-radius: 6px;
    border: 4px solid transparent;
}

button:hover {
    border: 4px solid #45B600 !important;
    background-color: #fff !important;
    font-weight: bold;
    color: #4285F4 !important;
}

