{% extends 'base.html.twig' %}
{#{% block stylesheets %}#}
{#{% enblock %}#}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col mt-5">
                <h1 class="mt-5">ici on prepare du document avec les outils qui coulissent depuis le côté<h1>
            </div>
        </div>
    </div>
{% endblock %}

{#{% block javascripts %}#}
{#{% endblock %}#}